[client]
port=3306
socket=/tmp/mysql.socket
[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
#basedir=/usr/local/mysql
#datadir=/usr/local/mysql/db_data
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
# Settings user and group are ignored when systemd is used.
# If you need to run mysqld under a different user or group,
# customize your systemd unit file for mariadb according to the
# instructions in http://fedoraproject.org/wiki/Systemd
#如果使用docker部署，user是必须要填
user=mysql
daemonize=on
port=3306
#socket=/tmp/mysql.socket
#pid-file=/usr/local/mysql/mysql.pid
character-set-server=utf8
collation-server=utf8_general_ci
max_connections=1024
log_error=/var/lib/mysql/logs/err.log
default-storage-engine=InnoDB
slow_query_log=on
slow_query_log_file=/var/lib/mysql/logs/slow_query.log
server-id=001
[mysqld_safe]
#log-error=/var/log/mariadb/mariadb.log
#pid-file=/var/run/mariadb/mariadb.pid

#
# include all files from the config directory
#
!includedir /etc/my.cnf.d

